*{
    padding: 0;
    margin: 0;
    list-style: none;
}

html{
scroll-behavior: smooth;
}


:root{
    --container-lg:70%;
    --container-sm:80%;
    --color-bg: teal;
    --primaryColor:#FFFFFF;
    --color-secondary:#EFEFEF;
    --font-size:1.8vw;
}

section{
    width: 100%;
}


/* NAVIGATION BAR */
header{
    width: 100%;
    height: 50px;
    background-color: var(--color-bg);
}

nav{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-secondary);
}

ul{
    display: flex;
    
}

ul li{
    margin-left: 10px;
}

ul li >a{
    text-decoration: none;
    color: var(--color-secondary);
}


.hand-burger{
    display: none;
}


@media screen and (max-width:760px) {
    .hand-burger{
        display: block;
        cursor: pointer;        
    }

    ul{
        display: none;
    }
   
}









