{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TAILWIND CSS -->

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

     <!-- font-awesome Icon -->
     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">


    <title>Student portal {% block title %} {% endblock %}</title>
</head>
<body>


     {% block content %}
      {% endblock %}
    
    
</body>
</html>