{% extends 'base.html' %}
{% load static %}




{% block content %}

<header>
    <nav>
        <div class="logo">
            <h5>Portal</h5>
        </div>

        <ul>
            <li><a href="#">Results</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Logout</a></li>
        </ul>

        <!-- NAVIGATION BAR -->
        <div class="hand-burger">
            <div class="fa fa-bars"></div>
        </div>
    </nav>
</header>

<section class="w-screen h-screen">
    <div class="m-5 w-90 h-screen flex">
       
       
    </div>
</section>


{% endblock %}










