{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block  content %}
<div class="dashboard">
   <!-- SIDE NAVBAR -->
   <nav>
      <h3>Skill up</h3>

      <div class="profile__container">
         <div class="profile_pic">
            <img src="{% static 'img/profile.jpg' %}" alt="">
            <div class="online-active"></div>
         </div>
         <h3>Johnson Wilson</h3>
         <span>New york,USA</span>
         <button>23 Level</button>
      </div>

      <!-- RATE COUNT DOWN -->
      <div class="rate--container">
         <div class="progress-circle" data-progress="70">
            <svg viewBox="0 0 100 100">
              <circle class="progress-circle__background" cx="50" cy="50" r="45"></circle>
              <circle class="progress-circle__progress" cx="50" cy="50" r="45"></circle>
            </svg>
            <div class="progress-circle__value">
               70%
             </div>
          </div>

          <!-- Courses Icons -->
          <div class="courses__overview">
               <div class="icon--ctx">
                  <div class="icon_bg">
                     <i class="fa fa-clock"></i>
                  </div>
                  <p>Hours</p>
               </div>
               <div class="icon--ctx">
                  <div class="icon_bg">
                     <i class="fa fa-level-up"></i>
                  </div>
                  <p>Lv1</p>
               </div>
               <div class="icon--ctx">
                  <div class="icon_bg">
                     <i class="fa fa-institution"></i>
                  </div>
                  <p>Exp</p>
               </div>
               <div class="icon--ctx">
                  <div class="icon_bg">
                     <i class="fa fa-computer"></i>
                  </div>
                  <p>Course</p>
               </div>
          </div>


      </div>

      <!-- COMPLEX OVERVIEW -->
      <div class="complex-overview">
         <h3>Hey Johnson 👋🏻</h3>
         <span>Here is a complex overview</span>
         <span>of your progress</span>
      </div>
   </nav>

   <!-- DASHBOARD SECTION -->

   <div class="dashboard-showcase">
      <div class="top--nav">
         <div class="icon__notify__ctx">
            <i class="fa fa-bell"></i>
            <div class="notify">
               <span>5</span>
            </div>
         </div>
      </div>

      <!-- SHOW DASHBOARD ICONS AND TEXT -->
      


   </div>

</div>
 



{% endblock %}





