{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block  content %}

<header>
    <nav>
        <div class="logo">
            <h5>Portal</h5>
        </div>

        <ul>
            <li><a href="#">Results</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Logout</a></li>
        </ul>

        <!-- NAVIGATION BAR -->
        <div class="hand-burger">
            <div class="fa fa-bars"></div>
        </div>
    </nav>
</header>

<!-- SECTION CONTAINER -->

<section>
    
</section>

{% endblock %}





